@import 'tailwindcss';

@source '../**/*.blade.php';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Custom brand colors */
    --color-primary: #e94560;
    --color-primary-dark: #0f3460;
    --color-dark-100: #1a1a2e;
    --color-dark-200: #16213e;
    --color-dark-300: #0f3460;
}
